<body>
    <div>
        <section class="banner">
            <div class="banner_descripcion">
                <div class="contenedor">
                    <h1>CARNICERIA FREDDY</h1>
                    <h2>Venta de carnes, embutidos y servicios de cortes de carne</h2>
    
                </div>
            </div>
        </section>
    
        <section class="banner2 mt-5">
            <div class="banner2_descripcion">
                <div class="contenedor">
                    <hr>
                    <p>La Carniceria Freddy tiene como principal objetivo asegurar la maxima calidad y seguridad alimentaria en todos nuestros productos carnicos.
                        hacemos que comprar se vuelvas mas facil ya que los productos van de la mano de la mejor atención, por eso, Carnes Freddy, estara siempre listo para antenderte.
                    </p>
                    <hr>
                </div>
            </div>
        </section>
    
        <section class="galeria mt-5">
            <div class="contenedor">
                <h1>GALERIA</h1>
                <article class="grid">
                    <div class="big"><img src="../../assets/fondos/5.jpg" alt=""></div>
                    <div ><img src="../assets/fondos/3.jpg" alt=""></div>
                    <div ><img src="../assets/fondos/13.jpg" alt=""></div>
                    <div ><img src="../assets/fondos/15.jpg" alt=""></div>
                    <div class="big"><img src="../assets/fondos/17.jpg" alt=""></div>
                    <div ><img src="../assets/fondos/16.jpg" alt=""></div>
                    <div ><img src="../assets/fondos/14.jpg" alt=""></div>
                    <div class="big"><img src="../assets/fondos/27.jpg" alt=""></div>
                    <div ><img src="../assets/fondos/32.jpg" alt=""></div>
                    <div ><img src="../assets/fondos/30.jpg" alt=""></div>
                    <div ><img src="../assets/fondos/18.jpg" alt=""></div>
                </article>
            </div>
        </section>
    
    
    
        <footer class="footer mt-5">
            <div class="contenedor">
                <p>&copy;Todos los derechos resevados para | Duvan Daza & Jhonatan Martinez</p>
            </div>
        </footer>
    </div>
    </body>
