<h1 class="mt-4">Catalogo de Productos</h1>
<hr>

<div class="row">
    <div class="col text-right">
        <button routerLink= "/registroProducto"
                class="btn btn-primary">
            <i class="fa fa-plus"></i>
            Agregar
        </button>
    </div>
</div>

<div class="card-columns">
    <div  class="card animated fadeIn fast" >
        <img src="../../../assets/img/noimage.png"  class="card-img-top img-fluid" alt="">
        <div class="card-body">
            <h4 class="card-title"> <small>X Kilo</small></h4>
            <p class="card-text text-center"> </p>
    
            <button type="button" class="btn btn-outline-primary text-center">Ver mas..</button>
        </div>
    </div>
</div>
