<body>
    <div class="limiter animated fadeInLeft">
        <div class="container-login100">
            <div class="wrap-login110 p-t-70 p-b-90">
                <form class="login100-form validate-form flex-sb flex-w" autocomplete="off" [formGroup]="form">
                     
                    <span class="login110-form-title p-b-52">
                        Login
                    </span>
                    <div class="wrap-input100 m-b-16">
                        <input  class="input100"
                                type="email"
                                name="email"
                                placeholder="Correo electronico"
                                formControlName="correo"
                                [class.is-invalid]="correoNoValido">
                                <span class="focus-imput100"></span>
                                <small *ngIf="correoNoValido" class="text-danger">
                                    Campo obligatorio
                                </small> 
                    </div>
                    <div class="wrap-input100 m-b-16">
                        <input  class="input100"
                                type="password"
                                name="pass"
                                placeholder="Digite Contraseña"
                                formControlName="pass"
                                [class.is-invalid]="passNoValido">
                                <span class="focus-imput100"></span>
                                <small *ngIf="passNoValido" class="text-danger">
                                Campo obligatorio
                                </small>
                    </div>
                    <div>
                    <a routerLink="/signin" class="txt2 forgot">
                        ¿No tienes cuenta?
                    </a>
                    </div>
                    <div class="container-login100-form-btn m-t-17 m-b-16">
                    <button (click)="ingresar()" class="login100-form-btn" type="submit">
                        Ingresar
                    </button>
                    </div>
                </form>
               
            </div>
        </div>

    </div>
</body>


