<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" [routerLink]="['/presentacion']">
        <!-- <img src="" width="30" height="30" alt=""> -->
        Carniceria
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/producto']">Productos</a>
        </li>
        <div class="text-right">
          <button  *ngIf="!desbloquear" routerLink="/login" class="btn btn-primary">Iniciar sesion</button>
          <button *ngIf="!desbloquear" routerLink="/registrar" class="btn btn-primary">Registrarse</button>
          <button *ngIf="desbloquear" (click)="logout()" class="btn btn-danger" >Cerrar sesion</button>
        </div>
      </ul>
    </div>
  </nav>
